@import url('https://fonts.googleapis.com/css?family=Jura&subset=cyrillic,cyrillic-ext');

html body {
  margin: 0;
  padding: 0;

  color: #e8e8e8;
  background-color: #101010;

  font-family: 'Jura', sans-serif;
}

a, a:visited, a:hover {
  color: inherit;
  text-decoration: none;

  transition: .25s color;
}

a:hover {
  color: crimson;
}

#bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url('/cosmos.png');

  z-index: -1;
  opacity: 0;

  transition: .25s opacity;
}

.container {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container h1 {
  margin: 0;
  padding: 0;

  text-align: center;

  text-shadow: 1px 1px black, -1px -1px black, 3px 3px 5px #fff8;
}
